page {
  background-color: #f2f2f2;
}

.publish-hinit {
  background-color: #EAF4FF;
  color: #ee404a;
  font-size: 24rpx;
  padding: 20rpx;
}

//内容描述部分
.publish-msg-wrap {
  background-color: #fff;
  padding: 20rpx;

  // 标题
  .title {
    border-bottom:1rpx solid #f2f2f2;
    margin-bottom: 20rpx;
  }

  .product-title {
    font-size: 40rpx;
    color: #333;
  }

  .product-brief-wrap {
    padding: 20rpx 0;
  }
  
  .brief {
    width: 100%;
    min-height: 100rpx;
    font-size: 32rpx;
    color: #333;
    line-height: 1;
  }
}

.product-pic {
  width: 100%;
  display: flex;
  flex-wrap:wrap;

  .pic-wrap,.add-img-btn{
    position: relative;
    display: block;
    width: 170rpx;
    height: 170rpx;
    background-color: #F8F8F8;
  }

  .pic-wrap {
    margin-right: 7rpx;
    margin-bottom: 7rpx;
    border-radius: 20rpx;
    overflow: hidden;
  }

  .add_img {
    width: 100%;
    height: 100%;
  }

  .add_img:nth-child(4n){
    margin-right: 0;
  }

  .img-hinit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30rpx;
    background-color: rgba(0,0,0,.4);
    // border-radius: 20rpx;
    font-size: 20rpx;
    color: #fff;
  }
  
  .close-img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50rpx;
    height: 50rpx;
  }

}

// 用户信息
.publish-user-msg {
  background-color: #fff;
  margin-top: 30rpx;

  .user-group-wrap {
    height: 84rpx;
    border-bottom:1rpx solid #f2f2f2;
    display: flex;
    align-items: center;
    font-size: 28rpx;
    padding: 0 20rpx;
    color: #333;
  }

  .title {
    width: 170rpx;
  }

  .content {
    position: relative;
    flex: 1;
    height: 100%;
    color: #333;
  }

  //类型项
  .type-item {
    height: 84rpx;
    line-height: 84rpx;
  }

  .location-wrap,.location-img {
    width: 90%;
    height: 90%;
  }
}

.picker-absolute,.picker-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 4;
}

.picker-txt {
  height: 100%;
  display: flex;
  align-items: center;
  color: #333;
}

//placehoder颜色


// 发布按钮
.publish-btn {
  position: relative;
  width: 100%;
  height: 80rpx;
  font-size:30rpx;
  color: #fff; 
  background-color: #ee404a;
}