
.publish-msg-wrap {
  padding:0 15rpx;
  display: flex;
  flex-wrap: nowrap;
}

.publish-msg-item {
  flex: 1;
  width: 50%;
  padding: 10rpx;
  box-sizing: border-box;

  .msg-top-wrap {
    width: 100%;

    .pic {
      width: 100%;

    }
  }
}